.headCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  .searchBlock {
    position: relative;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0 15px;
    .clearSearchBtn {
      position: absolute;
      font-size: 12px;
      top: 10px;
      right: 10px;
    }
    input {
      border: 0;
      outline: none;
      padding: 14px;
      font-size: 15px;
      width: 200px;
    }
  }
}
