.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;

  .headername {
    padding-left: 10px;
  }

  .textupper {
    text-transform: uppercase;
  }

  .money_li {
    margin-right: 30px;
    img {
      padding-right: 5px;
    }
  }

  .headerright {
    display: flex;
  }
}
